<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Twitter Trackers</title>
      <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
      <link rel='stylesheet' type='text/css' href='bootstrap/dist/css/bootstrap.min.css'>
  </head>
  <body>
    <div class='navbar navbar-fixed-top'>
      <h3>Twitter Trackers</h3>
    <div>
      <div class="col-lg-2 sidebar">
        <h3>About me</h3>
        <h3>data repo</h3>
      </div>
      <div class='col-lg-10 map' >
        <div ng-app="Twitter">
          {{ 10+45 }}
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
          <div>Stuff happening</div>
        </div>
      </div>
      <script src="angular/angular.min.js"></script>
      <script src='javascripts/MainController.js'></script>
  </body>
</html>